%h2 Tasks
- @project.tasks.each do |task|
  %p
    %strong Title:
    = task.title
  %p
    %strong Description:
    = task.description
  %p
    %strong Priority:
    = task.priority
  %p
    %strong Difficulty:
    = task.difficulty
  %p
    %strong Status:
    = task.status